[2013-02-23 23:30] Zahnentferner opened #1 "Translation from chinese-like languages to other languages is not working"
Message from a user:

[2013-02-23 23:31] Ceilican opened #2 "Word pronunciation"

[2013-05-07 17:35] Zahnentferner opened #3 "Exclude sites from translation"
From a user:

[2013-06-17 06:15] Zahnentferner opened #4 "CSS is not added in reddit.com"

[2013-06-17 06:16] Zahnentferner opened #5 "Translates much less than according to the selected translation probability"

[2013-06-17 06:17] #4 closed, assigned to nobody

[2013-06-20 07:24] #3 closed, assigned to nobody

[2013-06-20 08:10] Zahnentferner opened #6 "Blacklist of words that should not be translated"

[2013-10-25 10:34] #6 closed, assigned to nobody

[2013-10-25 10:35] #5 closed, assigned to nobody

[2013-10-25 18:50] Zahnentferner opened #9 "Remove on/off radio buttons for translations"
Now that we have multiple translation configurations, we could have a non-deletable pseudo translation configuration saying "Do not translate".  When the user clicks on this configuration, "activation" should be set to false.  When the user clicks on any other configuration, "activation" should be set to true and the selected configuration should be applied.

The left side of the basic options pag

[2013-10-26 09:00] #9 closed, assigned to nobody

[2013-12-07 10:01] Ceilican opened #11 "Numbers should not be translated"
Jan. 23 is translated incorrectly.

![screen shot 2013-12-07 at 7 50 28](https://f.cloud.github.com/assets/1809436/1698094/653e15a0-5f26-11e3-864e-20bd2975d1ae.png)

[2013-12-07 10:31] Ceilican opened #12 "User-defined translations are not working properly"
"a":"a" is working, but "the":"the" is not...

![screen shot 2013-12-07 at 8 26 13](https://f.cloud.github.com/assets/1809436/1698111/2806cf3e-5f2a-11e3-9164-ef0cb6081d1c.png)

[2013-12-07 11:22] Ceilican opened #13 "English-to-english translation is not working"
This was discovered by Saman Bassam. He should be informed when this issue is fixed.

[2013-12-15 09:47] Ceilican opened #14 "Easily add new words to the user-defined translations"
A user gave the following interesting feedback:

[2013-12-15 09:49] Zahnentferner opened #15 "Hebrew-to-Portuguese highlights but does not translate"
User feedback:

[2013-12-15 09:53] #15 closed, assigned to nobody

[2014-03-17 20:28] masukomi opened #17 "Make it easy to blacklist current site"
there are many reasons you'd want to blacklist the current site, but frankly, it's a pain. There should be an easy way to blacklist it.

I think the best way is probably to add a right-click menu item for Mind The Word that has a sub-menu item of "Blacklist Current Page" which blacklists the current page. I believe that [this is the documentation for adding such functionality](https://developer.ch

[2014-03-20 21:19] masukomi opened #18 "Some translated words aren't highlighted"
This screenshot

![screenshot](https://www.evernote.com/shard/s10/sh/98d83848-12ef-4304-943d-a6f39fb3fe08/693db895c80ee97c26184f20372ba83f/res/c5e6e6e3-807e-4b9c-9e4a-4534e96fca16/skitch.png?resizeSmall&width=832)

shows two translated words beside each other.

The "A" is translated despite a being in the list of words to ignore, but relevant to this ticket is the fact that the word beside it was

[2014-03-25 08:35] masukomi opened #20 "translating quoted words screws up the title tag"
translating `"Nothing"` into Esperanto (I doubt the language matters) results in `<span title="" nothing""="" class="translatedWord">"Nenio" </span>`

Note the extra quote marks, which throw everything off.

[2014-11-07 22:01] boblannon opened #23 "impossible to create new configuration if all configurations deleted"
Behavior: After selecting "do not translate" and deleting all stored configurations, attempted to add a new one.

Expected Result: New configuration is added

Actual Behavior: Nothing happens.

Error message: (js console) "Uncaught TypeError: undefined is not a function ... options.js:115"

[2014-11-08 19:32] #23 closed, assigned to nobody

[2014-11-08 19:34] #20 closed, assigned to nobody

[2014-11-10 09:38] ceilican opened #24 "Hebrew seems to be undetected"
![mth_options](https://cloud.githubusercontent.com/assets/1809436/4973768/ada51128-68c5-11e4-9633-805472197daf.png)
![mtw_page](https://cloud.githubusercontent.com/assets/1809436/4973769/adfdd6d2-68c5-11e4-9acf-8c1331f6de94.png)

[2014-11-14 10:06] Ceilican opened #25 "Implement Whitelist/Blacklist Toggle"
Requested by a user:

[2014-11-22 13:23] Ceilican opened #26 "Easy Blacklisting"
I hope this extension is developed further. It works well, but there are issues. There needs to be a quick and easy way to add pages/domains to the 'blacklist' because it does interfere with the functioning of some websites (to the extent that some refuse to load). A popup when clicking the extension icon giving options to 'disable/enable on this page/domain' would make this a 4 or 5 star extensio

[2015-01-13 07:40] Ceilican opened #27 "Add transliteration"
please add romanized arabic and russian from 1:1 maps here:

arabeasy.net
rus1.net

thanks!
liam

[2015-01-13 07:40] Ceilican commented on #27
[["a","ا"],["b","ب"],["t","ت"],
["S","ث"],["g","ج"],["v","ح"],["x","خ"],["d","د"],["z","ذ"],["r","ر"],
["j","ز"],["s","س"],["w","ش"],["c","ص"],["D","ض"],["T","ط"],
["Z","ظ"],["o","ع"],["G","غ"],["f","ف"],["q","ق"],["k","ك"],["l","ل"],
["m","م"],["n","ن"],["h","ه"],["u","و"],["i","ي"],["e","ة"],["y","ى"],
["A","أ"],["E","آ"],["U","ؤ"],["I","إ"],["Y","ئ"],
["'","ء"],["·","\u0651"],["N","\u064B"],["N

[2015-01-14 14:33] mattcoker opened #28 "Not able to get working on Chrome for Mac"
Throws the following error on all pages tested on, across multiple domains.
`mindTheWord running`
`Options received:`
`activation: true`
`ngramMin: 1`
`ngramMax: 1`

`VM70 extensions::uncaught_exception_handler:8 Error in event handler for (unknown):`
`HierarchyRequestError: Failed to execute 'insertRule' on 'CSSStyleSheet': Failed to insert the rule.`
`at injectCSS (chrome-extension://fabjlaokbha

[2015-01-15 07:44] Ceilican commented on #28
Thanks for the bug report. I wasn't able to reproduce this issue here. Have a look on the screenshot below.

I use Chrome for Mac Version 39.0.2171.95 (64-bit)  (the same as yours)
and OSX Yosemite 10.10.1 (again the same as yours).

Could you give me more information, so that i can try to reproduce the error here? On which pages did the error occur? Have you tried to close and reopen Chrome? Are

[2015-01-15 10:46] Ceilican opened #30 "Restrict translation to nouns"
Feature request by a user:

[code]

[2015-01-15 11:00] Ceilican commented on #30
This is a very nice idea, but hard to implement in an efficient way.

To figure out if a word is a noun, MindTheWord would have to query a dictionary for every word selected for translation, and it would have to wait for the response. This would make MindTheWord too slow.

One solution would be to have local dictionaries of nouns within MindTheWord's code, but I don't know where to obtain such dic

[2015-01-28 18:23] Ceilican opened #31 "Pinyin"
Feature request from a user:

[2015-01-28 18:27] Ceilican commented on #31
http://en.wikipedia.org/wiki/Pinyin

[2015-01-28 18:33] Ceilican commented on #31
http://chinesehacks.com/resources/web/generate-pinyin-in-google-translate/

[2015-01-28 18:42] Ceilican commented on #31
https://chrome.google.com/webstore/detail/pinyin-me/bjkjgehlgagaimplndbiehcnncgahagh?hl=de

[2015-02-01 18:17] Ceilican opened #32 "For some users, changing translation configuration does not seem to help"

[2015-02-11 13:41] Ceilican commented on #11
Perhaps this issue is partially fixed by now. But this needs to be checked.

[2015-02-11 13:43] #13 closed

[2015-02-11 14:42] Ceilican opened #33 "Port this extension to Safari"
The port should be done in a way that both versions (Chrome and Safari) share as much code as possible, in order to facilitate maintenance.

[2015-02-11 14:42] Ceilican opened #34 "Port this extension to Firefox"
The port should be done in a way that both versions (Chrome and Firefox) share as much code as possible, in order to facilitate maintenance.

[2015-02-11 14:52] Ceilican opened #35 "Improve Javascript style"
The current code does not adhere to typical Javascript style conventions. The code should be improved according to Google's Javascript Style Guide (e.g. https://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml) or other well-know style guide.

The code should also be properly commented, also according to style guides.

[2015-02-11 16:02] Ceilican opened #36 "Localize this extension to your other languages and regions"
Add translations of the description of this extension here:
https://github.com/OiWorld/MindTheWord/blob/master/Description.md

[2015-02-15 08:57] Ceilican opened #37 "Amount of translated words is much lower than specified in the translation configuration"
Even when we specify 45% of translation, only a few words are translated.

[2015-02-15 09:12] Ceilican opened #38 "Creation of new translation configuration is impossible when there are no translation configuration left"
![screen shot 2015-02-15 at 10 12 04](https://cloud.githubusercontent.com/assets/1809436/6202744/2b65d2c4-b4fb-11e4-806b-4a2b41626cd5.png)

[2015-02-27 10:59] Ceilican commented on #18
This is a comment for GSoC students trying to solve this bug.

To solve any debugging task, I suggest that you:

1) find some webpages where this issue can be reproduced. And run MindTheWord on these pages to test it.

2) debug the extension by using Google Chrome's Javascript Console. (You can use "console.log(...)", "console.debug()" and "console.error(...)" to log messages while MindTheWord is

[2015-02-27 11:08] Ceilican opened #39 "Create button doesn't create new configurations, and user cannot change from the default latin translation"
A few users have reported the following issue:

I have been unable to reproduce this on my own computer. Therefore I do not know what is going on.

[2015-03-04 16:13] mattcoker commented on #28
I believe this issue was due to needing to restart chrome after install. Been working great for me ever since.

[2015-03-04 16:13] #28 closed

[2015-03-04 16:34] Ceilican commented on #28
Nice to know that everything is fine now!

[2015-03-18 10:04] Ceilican commented on #38
It seems that this was due to initialization issues in the options page. It should be fixed now.

[2015-03-18 10:04] #38 closed

[2015-05-17 08:10] Ceilican opened #46 "Options page fails to load www.google.com/jsapi"
As a consequence, the options do not load.

Only one user ("Olena") has experienced this problem so far. Most probable explanation is that Google is blocked in her country.

Now that we have Yandex Translate as well, we should have a more robust options page.

[2015-05-18 05:21] Ceilican commented on #46
![screen shot 2015-05-18 at 15 20 18](https://cloud.githubusercontent.com/assets/1809436/7674714/7e993cb0-fd71-11e4-9bff-0b251d0c6e02.png)

[2015-09-14 03:12] RyanRusnak commented on #39
It looks like the create button is throwing a JS error:

[code]

savedPatterns is undefined and I think that is causing the error. I think every new user will have no saved patters though. I tried adding one and still experienced the error so maybe they are not being persisted.

[2015-09-14 10:09] Ceilican commented on #39
Hi Ryan! Thanks for the information. I am still not able to reproduce the error in my computer. Therefore, I rely on people like you, who can provide more information about the error. I agree with you that this bug must be due to a persistence error, but I wonder why it is happening only to a few users. Do you have any idea?

[2015-09-14 19:41] RyanRusnak commented on #39
You are right. Locally, the plugin works perfectly. However, installing from the chrome store causes an error. See attached screenshots for each:
<img width="1317" alt="screen shot 2015-09-11 at 11 07 14 am" src="https://cloud.githubusercontent.com/assets/952698/9859933/e844f856-5add-11e5-9dc8-83a0763f2564.png">
<img width="1327" alt="screen shot 2015-09-11 at 11 10 19 am" src="https://cloud.githu

[2015-09-30 13:44] chris838 opened #47 "Add option to limit translations to user specified only"
I'd rather ditch support of Google Translate and Yamdex and translate only based on the user specified list.

[2015-09-30 14:00] chris838 commented on #47
Alternatively - instead of specifying a translation dictionary (which is a crude 1-1 translation mapping that often gives weird results) it would be nice to specify a set of *words or phrases that am learning* in the target language. Ideally the extension would then only target words that translate to elements in this set, ensuring that I'm only presented with words that I'm actually interested in

[2015-10-03 00:59] Ceilican commented on #47
I suspect most users would not be patient to create their own translation lists...

That's a good idea. I will keep it in mind, but I can't promise to implement it soon, because I'm short of time right now. In case you know how to program in Javascript (or if you have friends who do) and would like to volunteer to implement this feature, let me know.

[2015-10-03 18:51] chris838 commented on #47
I've added a switch to limit translations to only those in the user specified list, check out my fork if you are interested. I also added some unit testing that you might find useful (I found it easier to dev outside of Chrome).
Closing this issue for now.

[2015-10-03 18:51] #47 closed

[2015-10-03 18:55] chris838 commented on #37
The percentage is taken after blacklisting, removing proper nouns etc. When we specify 45% do we mean 45% of all words on the page or 45% of the words that are suitable for translation (currently I think you're using the latter).

[2015-10-03 18:57] chris838 commented on #31
I actually get round this by installing another extension which gives me detailed popup translations when hovering over Chinese text - Pinyin included.
https://chrome.google.com/webstore/detail/zhongwen-a-chinese-englis/kkmlkkjojmombglmlpbpapmhcaljjkde?hl=en

[2015-10-03 19:21] chris838 opened #48 "Integrate with language learning courses"
Currently I'm scraping vocabulary lists from my iKnow course and pasting them into the user-defined translations page. What I would really like to do is have this integrated into the app (I use iKnow but other services like Duolingo etc. could be supported).

This could potentially be a significant departure from the core app - I'm considering pursuing this in my own fork.

[2015-10-03 21:26] Ceilican commented on #48
Wouldn't it be possible to add iKnow, Duolingo and other services as alternatives to Google Translate and Yandex? Besides allowing the user to choose "Use Google Translate..." and "Use Yandex..." when creating a new translation configuration, we could allow him/her to choose "Use iKnow's vocabulary list..." or "Use Duolingo's vocabulary list...".

If this idea gets implemented in this way, I think

[2015-10-03 21:34] Ceilican opened #49 "Allow user to choose to use a pre-defined list of common words for translation"
For many languages, it is easy to find in the internet lists of the most commonly used words in that language. By integrating (building in) these lists into Mind The Word, we could allow the user to restrict the translations to these common words. This might be particularly helpful for beginners, who want to focus on easy and common words.

[2015-10-03 21:36] Ceilican commented on #48
Here is a related idea: https://github.com/OiWorld/MindTheWord/issues/49 .

[2015-10-03 21:39] Ceilican commented on #48
Perhaps this would only be appropriate if the vocabulary lists were produced and kept by those language learning services.  If the vocabulary list is produced by the user of these services, then perhaps it would be better to have an advanced option, where the user can select to use his list stored in another service instead of user the user-defined list in the advanced options page.

[2015-10-03 21:44] Ceilican commented on #48
We should be careful not to make MindTheWord too reliant on possibly unreliable and frequently changing external services, because this greatly increases maintenance effort. (For example, when Google Translate suddenly started blocking MindTheWord when too many translation requests were submitted, it was necessary to quickly start supporting Yandex as an alternative.)

[2015-10-03 21:51] Ceilican commented on #31
Thanks! I have just forwarded your workaround to the user who requested the feature.

[2015-10-03 22:02] Ceilican commented on #37
We currently do not remove proper nouns, but we do end up filtering many other "words" besides the blacklist. Initially the text is split into a list of "words" separated by space, but these words may contain numerical digits, punctuation marks and other things that might make them unsuitable for translation. We filter out these unsuitable words.

Therefore, you are right: we mean 45% of the *suit

[2015-10-03 22:04] Ceilican commented on #37
Even if we succeed in translating, for example, 45% of the suitable words, this is still typically much less than 45% of *all* words, and this can be perceived as a problem from the user's perspective.

[2015-10-03 22:11] Ceilican commented on #37
I have just seen that you committed something (https://github.com/chris838/MindTheWord/commit/e1d027d36781010cb15a3c98d84b99efa737abd3) that seems to fix this. I will close this issue after merging back your fork.

[2015-10-03 22:28] Ceilican commented on #47
Thanks! Your unit tests are great, by the way.

I would like to pull your fork. Are you still working on anything else? If yes, I will wait for you to finish. When you have finished everything you are currently working on, please make a pull request.

[2015-10-05 12:01] chris838 commented on #47
Awesome, thanks!
Just got one more bug fix then I'll submit a PR.

[2015-10-05 12:14] chris838 commented on #48
Yeh I agree with this. My favorite learning app is iKnow, but they unfortunately don't have an API - which makes integration even more prone to breaking in future. I see that Duolingo also don't have an official API (unofficial one available here: https://github.com/KartikTalwar/Duolingo).

[2015-10-05 12:20] chris838 commented on #48
I need to think about it some more - but here's what I'm imagining. I open the app and select my language learning service from a list of those supported (Duolingo, iKnow etc.). The app then generates a translation map based on the courses I'm learning. As I expand my knowledge in iKnow each new word I start learning automatically gets pulled into MindTheWord. Hitting Google Translate or Yandex is

[2015-10-05 12:23] chris838 commented on #48
Yeh I also thought something along these lines. Perhaps select "User defined only" instead of Google Translate and Yandex. This would replace the checkbox on the advanced settings page.

[2015-10-08 22:41] chris838 commented on #47
https://github.com/OiWorld/MindTheWord/pull/50

[2015-10-10 22:05] Ceilican commented on #48
This sounds good, though non-trivial... If you find an easy and robust way to implement it, feel free to go ahead!

[2015-10-11 12:46] chris838 opened #51 "Reverse-translate from user-defined translation lists"
After testing the app with the new user-defined translations feature for a week or two, it's become pretty clear to me what additional feature would bring about the largest improvement with the smallest amount of effort (for me personally at least, I can only speak for myself).

The main problem is that the user-defined translation map gives very crude, context-blind translations that often appear

[2015-10-11 13:07] chris838 commented on #51
Expanding upon the last problem mentioned above, here's some example English text translated into Chinese:

Original: Thousands of people gathered in the **centre** of Ankara.
Google: 成千上万的人聚集在安卡拉的**中心**。
Yandex: 数千人聚集的**中心**安卡拉。

Notice how Google correctly places **中心** (meaning **centre**) at the end of the sentence.
In an ideal world, how would we best present this as a combination of English

[2015-10-17 23:43] Ceilican commented on #51
Yandex has a 10 million character per month limit. If we assume that a page has an average of 5000 characters, then the limit is 2000 pages per month, or about 66 pages per day. For some users, this limit might be ok. For others, not.

No, unfortunately they don't. In the case of Google, when we request the translation of a single word, they provide additional grammatical information about that wo

[2015-10-17 23:55] Ceilican commented on #51
Exactly. Google/Yandex do not give us sufficient information about the grammatical structure of the language. They do not give us the true understanding of the languages that we would need for achieving that.  Doing this ourselves for all supported languages would be too much work. I am not aware of a usable free service capable of receiving a natural language sentence as input and returning a par

[2015-10-22 12:05] chris838 commented on #51
Agree with almost everything above and I think your idea of translating whole sentences could prove to be a possible compromise (although it might be hard to limit sentence translation to a manageable difficulty level). I'm still considering the best way forward (low on free time currently).

One thing I would point out (in case you weren't aware) - the Google Translate web page *does* preserve so

[2015-10-22 21:48] Ceilican commented on #51
Yes, I am aware, but somehow I forgot to take it into account in my previous comments. Thank you for reminding me.

[2015-11-02 21:10] Ceilican opened #52 "Only randomly translate user-defined words"
Mark requested:

and only this words will be translated.

 the most 100 most important words. But the words should not always translate
so a random funcion here would very good. Otherwise it would be frustrating
and to difficult to unterstand.

[2015-11-02 21:12] Ceilican opened #53 "Mind The Word as a mobile app"
Mar requested:

    unfortunately the your app does not work with the mobile chrome browser

[2015-11-02 21:14] Ceilican commented on #53
http://www.omgchrome.com/chrome-android-extensions-not-planned-ama/

[2015-11-02 21:40] Ceilican opened #54 "Import/Export user-defined translations in Anki format"
Requested by Giorgos Ches.

More info:
http://ankisrs.net/docs/manual.html#importing

[2015-11-02 21:43] Ceilican opened #55 "Easily add translated words to user-defined translation table"
Giorgos Ches requested:

[2015-12-12 07:58] Ceilican commented on #53
Mark (loop) explained:

[2015-12-12 08:09] Ceilican commented on #53
Giorgos Ches:

[2015-12-12 08:12] Ceilican commented on #54
Giorgos Ches:

[c2 voc.txt](https://github.com/OiWorld/MindTheWord/files/60093/c2.voc.txt)

[2015-12-12 09:39] Ceilican opened #56 "Failure to inject CSS"
Reported by Ryan:

![image001](https://cloud.githubusercontent.com/assets/1809436/11761284/50e73f2c-a110-11e5-9ebb-4df4aac971ea.png)

[2015-12-12 09:50] Ceilican commented on #56
So far, this has been observed only in: http://www.linustechtips.com/

[2015-12-12 09:52] Ceilican opened #57 "Empty ConcatWordsArray in Google"
![screen shot 2015-12-12 at 20 51 20](https://cloud.githubusercontent.com/assets/1809436/11761328/3ca5e48a-a112-11e5-8459-96779d89560f.png)

[2015-12-12 10:11] Ceilican opened #58 "Translation from Chinese to English or Italian is not working"
Zhenghui Chen reported:

[2016-02-08 22:22] Ceilican commented on #18
Here is another example screenshot provided by another user:

![bug_mtw1](https://cloud.githubusercontent.com/assets/1809436/12901229/8eb72da4-cf0e-11e5-97d8-c797141831ec.png)

[2016-02-08 22:34] Ceilican commented on #18
Strangely, both examples above happen when a definite article (i.e. "a" or "los") is translated before the sentence that is translated but not highlighted. In the second example, this examples several times, almost always after "los" (e.g. "los cerebros", "los investigadores", "los animales", "los fallecidos", "los atletas").

[2016-02-08 22:40] Ceilican commented on #18
It would be useful to know if the users were using the advanced feature allowing the translation of sequences of words.  If they are, a possible explanation could be the following:

1. MTW translates {"the --> los", "the animals" --> "los animales"}.
2. Then it searches and back-translates/highlights the translated words using the inverted translation map {"los"--> "the", "los animales"--> "the an

[2016-02-08 23:01] Ceilican opened #59 "Limit the number of translated words per sentence"
Some users want to have at most one word translated per sentence.

[2016-03-02 16:53] suhasdarsi commented on #35
I would like to work on this

[2016-03-03 10:16] srikar0896 commented on #11
hello ceilican,
I want to resolve this bug.where can i find the repository of this?

[2016-03-03 10:53] Ceilican commented on #11
@srikar0896 Mind The Word's source code is here: https://github.com/OiWorld/MindTheWord

[2016-03-03 12:53] srikar0896 commented on #11
hey ceilican;
I've made the translate function just skip when it finds the number not to translate it.here's the link-https://github.com/OiWorld/MindTheWord/compare/master...srikar0896:patch-1

[2016-03-03 12:57] goelrohan6 commented on #35
Is the issue still open? as you have already merged it.

[2016-03-03 22:54] Ceilican commented on #35
@goelrohan6 , The merged pull request https://github.com/OiWorld/MindTheWord/pull/60 (by @rohankatyal29) already does the most important improvements. However, [Google's Javascript Style Guide](https://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml) gives many other recommendations that could still be done. Therefore, I leave this issue still open for now.

Nevertheless, anyone int

[2016-03-03 23:36] Ceilican commented on #11
Thank you, @srikar0896 !  That's a fine and simple solution. I like it! Could you please create a pull request?

[2016-03-04 03:21] srikar0896 commented on #11
Thank you.sure
On Mar 4, 2016 5:06 AM, "Bruno" <notifications@github.com> wrote:

[2016-03-04 04:08] #11 closed

[2016-03-04 07:10] rohankatyal29 opened #62 "MTW is not translating"
I can't seem to get MTW to translate. I am using yandex for the translations.
Here are the relevant screenshots:

<img width="1247" alt="screen shot 2016-03-04 at 12 38 59 pm" src="https://cloud.githubusercontent.com/assets/2452426/13520429/37cdfbfc-e206-11e5-9754-95fdd07fd417.png">
<img width="1248" alt="screen shot 2016-03-04 at 12 38 54 pm" src="https://cloud.githubusercontent.com/assets/245242

[2016-03-04 11:32] Ceilican commented on #62
You must must select the translation configuration that you want to use. Your third screenshot shows that you selected "do not trans" late.That is why it is not translating.

[2016-03-04 11:33] Ceilican commented on #62
Anyway, the GUI could be improved to make it clear that a selection must be made.

[2016-03-04 19:55] sakshamsaxena commented on #32
#39 is similar. I dunno where we are at this. Haven't faced this problem personally though.

[2016-03-05 03:16] jinankjain opened #64 "Translation is not working"
I was trying to use the chrome extension by setting language to translate from Chinese to English using Google Translate but I was unable to see any results.

Could someone help me out?

[2016-03-05 03:38] rohankatyal29 commented on #64
@jinankjain: Hi, can you post some screenshots and logs?

[2016-03-05 03:47] rohankatyal29 commented on #62
@Ceilican: I have activated the translation, but I still can't see any translations
<img width="1252" alt="screen shot 2016-03-05 at 9 16 07 am" src="https://cloud.githubusercontent.com/assets/2452426/13545465/080cadd4-e2b3-11e5-8c7c-52ff52dfdfdf.png">
<img width="1234" alt="screen shot 2016-03-05 at 9 15 55 am" src="https://cloud.githubusercontent.com/assets/2452426/13545466/085611e0-e2b3-11e5-86

[2016-03-06 11:21] lucky4287 commented on #35
How can i get the code to make changes in it?

[2016-03-06 14:09] rohankatyal29 commented on #35
You can fork this repository and then clone it on your machine

[2016-03-06 14:21] Stormteller commented on #36
#66 I have added ukrainian language translation to the description

[2016-03-06 14:27] rohankatyal29 commented on #52
Isn't this feature already there?

<img width="1116" alt="screen shot 2016-03-06 at 7 56 58 pm" src="https://cloud.githubusercontent.com/assets/2452426/13554718/a4186d30-e3d5-11e5-91f2-3cd97697f560.png">

[2016-03-06 15:42] Stormteller commented on #39
I got this error, when I had tried to turn app on, before I visited options page after installation (I installed it locally). But after I had created config and opened page, nothing have changed, no one word was highlighted.

[2016-03-06 19:03] ankit-m commented on #39
There was a null case error (S('savedPatterns') was referencing to undefined) in createPattern function. As a result new configurations could not be created. I have fixed this issue and also added duplicate configuration handling. #65

[2016-03-07 03:15] rohankatyal29 commented on #39
@ankit-m : How did you reproduce this issue?

[2016-03-07 05:42] Ceilican commented on #32
It might be related to #39, but not necessarily. I wasn't able to reproduce these two issues in my computer. Therefore, it is hard for me to say.

[2016-03-07 05:45] Ceilican commented on #39
It is still puzzling that S('savedPatterns') ever references to "undefined". This should never happen.  Pull request https://github.com/OiWorld/MindTheWord/pull/65 is good, because it makes the extension more resistant to such "undefined" cases, but we still don't know why it is "undefined" sometimes (and only for a few users).

[2016-03-07 05:48] Ceilican commented on #64
Make sure you added your Yandex key.

If it still doesn't work for you, please follow the [troubleshooting instructions](https://github.com/OiWorld/MindTheWord/blob/master/Troubleshooting/Troubleshooting.md).

I'm closing this issue for now.

[2016-03-07 05:48] #64 closed

[2016-03-07 06:09] Ceilican commented on #62
The latest stable version from the Chrome Web Store works for me.

![screen shot 2016-03-07 at 17 00 54](https://cloud.githubusercontent.com/assets/1809436/13561918/98ae3f68-e486-11e5-9171-b1066b000b6b.png)
![screen shot 2016-03-07 at 17 01 43](https://cloud.githubusercontent.com/assets/1809436/13561919/98b5099c-e486-11e5-8e2f-f824a54ac082.png)

[2016-03-07 06:11] Ceilican commented on #62
I won't have time to investigate this issue deeply now.

Note that, if the page is long, MTW takes a long time to display the translations.

[2016-03-07 06:20] rohankatyal29 commented on #12
As I mentioned in #69, translations such **the:the and a:a** will be filtered out.
<img width="649" alt="screen shot 2016-03-07 at 11 42 02 am" src="https://cloud.githubusercontent.com/assets/2452426/13562125/b5af6690-e45a-11e5-92ad-9ae415fab252.png">

[2016-03-07 10:28] ankit-m commented on #39
@Ceilican this occurs during cold start. When a user first installs the extension, only then they get this error. The `savedPatterns` variable is undefined in the first go, which causes an exception.

Here is the original error in the extension downloaded from webstore.
![error](https://cloud.githubusercontent.com/assets/9019878/13566679/ab8d338c-e47c-11e5-9771-eac5ec029e7b.png)

The problem is wi

[2016-03-07 10:35] Ceilican commented on #39
But why does this happen only to some users?

[2016-03-07 10:45] ankit-m commented on #39
Because only some people turn on right after installation, before going to options page which sets the `activation` field in `data` object.

[2016-03-07 11:19] Ceilican commented on #39
Yes, please go ahead!

[2016-03-07 17:28] lucky4287 commented on #35
i want to upload the updated code. How to do it?

[2016-03-07 23:06] Ceilican commented on #35
@lucky4287 There are many tutorials explaining how to use git and github. Just google for it and try to learn how to "commit", "push", "pull" and make a "pull request".

[2016-03-08 00:17] Ceilican commented on #52
No, not yet. Right now, MTW uses the user-defined translations **additionally** to the random translations obtained through Yandex or Google Translate.  This user asked for the ability to use **only** the user-defined translations.

[2016-03-08 06:06] ankit-m commented on #35
@rohankatyal29 @Ceilican There are a lot of style changes, especially in commenting and curly braces. These changes are span across various files. Should I make changes in all the files and make a single commit? Or different commits for different files?

[2016-03-08 06:12] rohankatyal29 commented on #35
@ankit-m , you should make a single commit

[2016-03-08 07:18] rohankatyal29 commented on #52
I selected the following translation configuration (without limiting to user-defined translations only)
<img width="1076" alt="screen shot 2016-03-08 at 12 42 20 pm" src="https://cloud.githubusercontent.com/assets/2452426/13594556/4e035cc8-e52b-11e5-846b-0ada89e1fa4d.png">

and this was the output
<img width="741" alt="screen shot 2016-03-08 at 12 41 47 pm" src="https://cloud.githubusercontent.com

[2016-03-08 14:01] rohankatyal29 commented on #14
How can we get the initial 10 words without having the user to enter them?

[2016-03-09 12:30] Ceilican commented on #52
Oh, yes. I forgot about that checkbox. It is a recent addition, and my previous comment referred to a version where this checkbox did not exist.

[2016-03-09 12:30] #52 closed

[2016-03-09 12:30] ankit-m opened #81 "Google Translate error"
Google Translate API v2 is a paid service. The existing implementation uses request which causes 503 error. Following is the error generated

![translate_error](https://cloud.githubusercontent.com/assets/9019878/13635231/6f8595a0-e620-11e5-96e2-da192d85fdee.png)

To use Google Translate, we have to make a developer account and use the key after payment (which is around $20).

[2016-03-09 12:45] Ceilican commented on #14
He wants an easy way to add new words to the user-defined dictionary. I think @Stormteller has started working on this. The number "10" there was just an arbitrary number. To understand what he means, replace "the same 10 words or something" by "the same list of words (i.e. the user defined translations).

[2016-03-09 13:01] Ceilican commented on #81
Yes. It used to be free when I first implemented MTW. Then for a while it continued to be free, but with a very low limit of number of characters per month. And it seems that now it is not free at all. That's why another developer added Yandex later.

Even if we paid $20, I think the key still allows only a limited number of translations, which would be insufficient for the MTW's 10000+ users.

We

[2016-03-09 13:07] ankit-m commented on #81
Yes definitely. But right now the default is set to Google. When someone downloads it for the first time, they try it without putting the Yandex key. But nothing shows up (because of the error). As a result, they think that the extension is not working.

So I think we should set the default to Yandex and ask them to use a key. What do you think?

[2016-03-09 13:13] Ceilican commented on #81
Yes, definitely.

[2016-03-09 15:10] ankit-m commented on #81
@Ceilican on it.

[2016-03-09 18:40] Stormteller commented on #81
@Ceilican And what about Bing Translator? It has up to 2M characters translation for free

[2016-03-09 19:57] amecila commented on #36
@Ceilican are there any languages in particular you would like to see translations for?

[2016-03-11 01:35] Ceilican commented on #81
@Stormteller , It would be a good idea to add Bing Translator as well.

[2016-03-11 01:36] Ceilican commented on #36
@amecila , any language that you speak natively and that is not yet available in the [Description](https://github.com/OiWorld/MindTheWord/blob/master/Description.md) would be of interest to the project.

[2016-03-11 10:33] srikar0896 commented on #32
hello sir,the error may be due to  parsing undefined. When JSON.parse() is called, you're passing in S('savedPatterns'), which in turn tries to access cachedStorage['savedPatterns'], but that starts as undefined, So,It is throwing (Unexpected token u-options.js)which can't be parsed.So,cachedStorage must be initialized.

[2016-03-11 10:56] sakshamsaxena commented on #32
Isn't there a test written for this? Food for thought?

[2016-03-11 15:11] marksurnin opened #90 "Same translation configuration from different providers is not allowed"
For example, when there is a translation configuration "Use **Google** to translate 15% of all content from English to Spanish", the options page does not let me to set up a configuration "Use **Yandex** to translate 15% of all content from English to Spanish", as seen on the screenshots below.

Right before clicking the Create button:

<img width="1015" alt="screen shot 2016-03-11 at 3 53 13 pm"

[2016-03-12 10:34] Ceilican commented on #32
But the question is why it is undefined only for some users.

[2016-03-12 10:42] Ceilican commented on #90
You are right!

[2016-03-12 10:44] #90 closed

[2016-03-14 02:24] srikar0896 opened #93 "error in setting Yandex languages"
![screenshot 61](https://cloud.githubusercontent.com/assets/17567875/13733514/d1006e4e-e9b9-11e5-97ce-1e8383fff752.png)

error in setting yandex languages.Unable to select the target language and the src language is set english and unable to change it.

[2016-03-14 03:04] ankit-m commented on #93
@srikar0896 have you merged with upstream?

[2016-03-14 03:21] srikar0896 commented on #93
@ankit-m no

[2016-03-14 04:51] ankit-m commented on #93
This issue has been resolved. Merge with upstream and it will work.

[2016-03-14 16:03] alexklibisz commented on #62
I've noticed this as an inconsistency between sites. For example, Wikipedia appears to work fine with a Yandex key, but Hacker News (news.ycombinator.com) does not.

Working on Wikipedia: http://i.imgur.com/5W14c8i.gif
Non-working on Hacker News: http://i.imgur.com/lkb2Wyj.gif

I started debugging by looking at the function `requestTranslations` on line 21 in `MindTheWord.js`. After some debugging

[2016-03-14 18:59] ankit-m commented on #62
@alexklibisz The source words are empty because there are no `<p>` tags in the hacker news page. If you look at `line 217` of `MindTheWord.js` you'll see that `getAllWords()` is searching by `p` tags.

![ptags](https://cloud.githubusercontent.com/assets/9019878/13756133/70c5ec08-ea44-11e5-95a2-319bd5b8f1c9.png)

On the other hand, if you see the comments page of YC, you will see translations
![ycp

[2016-03-14 19:10] ankit-m commented on #62
A quick search got me this. You can get all the text in a document by this

[code]

I tested it now, it does work. But speed is still an issue.

[2016-03-14 20:06] alexklibisz commented on #18
Hi, I'm a GSOC applicant. I believe I've found the issue and will be submitting a PR to resolve it.

### 1. Environment
I forked and cloned the repo and installed it in developer mode in Chrome. I added a Yandex API key and made no further modifications. I set English to Spanish translation at 75%.

### 2. Reproducing the bug:

I went to the same page as the screenshot above: https://www.technolog

[2016-03-14 20:14] alexklibisz commented on #62
@ankit-m I noticed that only `p` tags are considered from another issue I worked on just now. Good catch. Is there a considerable speed issue?

[2016-03-14 22:08] alexklibisz commented on #37
@Ceilican Is this still an existing issue? It's difficult for me to measure without just "eyeballing" it. If it is still I problem then I can take a look at it as part of my GSOC application process.

[2016-03-15 04:06] alexklibisz opened #95 "Handling dynamically loaded content"
If I'm not mistaken, there is currently no support for dynamically loaded page content. And by extension, there would be no support for JS-only single page apps.

For example, when you open a page on reddit, all of the server-loaded content is made available for translation and the translations are done correctly. However, when you click "load more comments" and load more comments into the DOM, th

[2016-03-15 04:16] rohankatyal29 commented on #95
A simple MutationObserver will do the job, no?

[2016-03-15 04:32] alexklibisz commented on #95
@rohankatyal29 I've never used the MutationObserver but from looking at the spec on MDN, I would say that this is the option to try first. However I'm wondering how (or if it's worth it) to determine the specific nodes that were changed or added. That way we don't recompute the entire page every time.

[2016-03-15 05:03] ankit-m commented on #95
@alexklibisz For long pages, watching nodes for mutations, would affect the performance significantly. For each mutation, an API call will be made - again a bottleneck.

Also, each page uses different tags to load data - some might use `p`, some might use `span`. Which nodes to watch will be a tough part to solve.

[2016-03-15 05:05] alexklibisz commented on #95
@ankit-m Right. I'll do some research to see if anyone else has solved a similar problem and documented it.

[2016-03-15 12:44] Ceilican commented on #18
Excellent explanation and elegant solution!

Do you have any idea how to improve the whitespace hack?

[2016-03-15 12:44] #18 closed

[2016-03-15 12:56] #93 closed

[2016-03-15 13:10] Ceilican commented on #37
@alexklibisz It is still an issue. I think there are many reasons why the translation proportion turns out to be much smaller than the translation proportion specified in the options page. This issue is probably caused by many "bugs".

We don't need to be obsessed with precision here, but currently it is a bit too imprecise...

[2016-03-15 13:17] Ceilican commented on #95
@alexklibisz You are right. And no, I haven't made any plans to address this issue (I always had more pressing issues to worry about). Thank you for looking at it.

@ankit-m @rohankatyal29 thank you for your suggestions too!

[2016-03-15 13:44] alexklibisz commented on #18
@Ceilican Thanks! I have some thoughts but for now I am writing the GSOC application so I will look after I send you my first draft.

[2016-03-15 17:54] alexklibisz commented on #49
@Ceilican Any chance that this has already been implemented?

![image](https://cloud.githubusercontent.com/assets/8015228/13788239/6ccf7b98-eab5-11e5-9a3d-cb91e97b9664.png)

Or are you looking for a more refined feature here?

[2016-03-16 07:00] Ceilican commented on #49
Here I mean something different.

Instead of requiring the user to input a list of user-defined translations, the idea would be allow him to configure MTW to always translate, for example, the 1000 most common nouns, without having to input this long list. The list would have to be fetched from somewhere or included in MTW's distribution.

This is not an easy feature to implement in a simple and m

[2016-03-16 08:01] ankit-m commented on #59
@Ceilican Should this be an option for the user in place of existing pattern? For example - `Convert English to Italian with one word per sentence`. Or should it be incorporated within the chosen pattern?

[2016-03-16 08:06] Ceilican commented on #59
Your description of these two options are not clear enough to me. Could you clarify?

In any case, I would classify this issue as low priority.

[2016-03-16 08:07] ankit-m commented on #56
@Ceilican I can't seem to reproduce this error on the website.

![linus](https://cloud.githubusercontent.com/assets/9019878/13805612/1ce2abe2-eb7c-11e5-99df-ce3585bb5769.png)

[2016-03-16 08:08] Ceilican commented on #59
My impression is that implementing it would make MTW more complicated and the benefit of having this feature is not worth the extra complications. So, this feature should only be implemented if we have a clean, elegant and simple way to implement it.

[2016-03-16 08:09] Ceilican commented on #56
Thanks for checking this. Probably something changed in the website, and the problem was solved on their side. I will close the issue. Thanks!

[2016-03-16 08:09] #56 closed

[2016-03-16 09:00] ankit-m commented on #58
I was able to reproduce this error in the following way.
Add a debug line to print filtered words in `filterSourceWords`
[code]
Add a debug line to print counted words in `main function`
[code]

Run the extension on http://worldcrm.org/About/index/id/3

Console Debug:
![chinese_error](https://cloud.githubusercontent.com/assets/9019878/13806241/712314a4-eb80-11e5-9c75-628bfdbcfbdb.png)

As you can

[2016-03-16 09:07] Ceilican commented on #58
That's great, @ankit-m !

[2016-03-17 15:23] ankit-m commented on #58
@Ceilican the problem is more complicated than what I thought. The reason why all words are not getting replaced is because of spaces. Look at the following lines of code in `replaceAll()`

[code]

The variable `rExp` is set to find all patterns like `space + word + space` i.e. translate word by word.

Here in lay the problem. Languages like Chinese do not have space separated words all the time.

[2016-03-17 20:39] ankit-m opened #96 "Yandex incorrect translation"
I have a 75% **Chinese to English** setting. Ideally, it shouldn't translate English to English. But as per the settings and the algorithm, it selects some words and translates. This should map the words to themselves. But words are translated wrongly by Yandex.

![err_ch_eng](https://cloud.githubusercontent.com/assets/9019878/13860264/708f25ae-ecad-11e5-9a08-24eed3ba52a9.png)

`Role-playing` is c

[2016-03-17 20:49] ankit-m opened #97 "HTML in translations"
Link: http://www.amazon.in/OnePlus-2-Sandstone-Black-64GB/dp/B011RG8SOU/ref=sr_1_3?s=electronics&ie=UTF8&qid=1458247333&sr=1-3&keywords=nexus+5x+32gb

Pattern: **75% Chinese to English**

Error: HTML in translated text.
![html_in_translation](https://cloud.githubusercontent.com/assets/9019878/13860697/ab5e89a2-ecaf-11e5-91e6-8c335f3c1120.png)

[2016-03-17 22:20] Ceilican commented on #58
That is a very interesting observation, @ankit-m .

The spaces that I added in ```rExp``` a long time ago were a hack to deal with issues like the one you described. But I have never been fully satisfied with his "hacky" solution. Maybe the ideal solution would not be to have different rExp for different languages, but to make rExp without spaces work for English too.

[2016-03-17 22:34] Ceilican commented on #96
Interesting.

Originally (a few years ago), MTW had a "detect language" option for the source language. This option would rely on Google Translate's auto-detect language feature. But somehow it wasn't working properly. That is why I disabled the feature. But maybe things are better now. Or maybe we could implement our own language detection somehow. If you have any ideas about that, please let me

[2016-03-18 00:04] Ceilican commented on #97
Yes, I have already seen this happening.

Maybe the issue is in the ```deepHTMLReplacement``` function. It should apply translations only to words inside text nodes. If translations are applied to tag names or to attributes, as shown in the screenshot in the comment above, then the HTML code will be broken. The browser might then display broken HTML code as text.

```deepHTMLReplacement``` already

[2016-03-18 02:24] ankit-m commented on #96
To detect language, a fast and simple way could be to look at the Unicode encoding of the letters and find their script/language from it.

One problem with detect language is that a page may contain many languages. To find source language would be tough in this case.

We can still use Google API, but besides being a paid service, it will add a lot of overhead time.

[2016-03-20 15:01] ankit-m commented on #37
### Bug
@Ceilican the bug is in `deepHTMLReplacement` with the following lines of code
[code]

The problem was that it skipped the text elements between various tags. For example, the HTML was -
[code]

It would skip `..so on` because it was not checking all the children.

### Solution
This was fixed as follows.

[code]

Also, the `+ 24` in translationProbability was removed as it was causing more

[2016-03-21 06:52] kylesezhi opened #100 "Display furigana for Japanese"
Non-Japanese learners of Japanese may benefit from pronunciation of kanji (called [furigana](https://en.wikipedia.org/wiki/Furigana)) displayed inline with the Japanese text.

[2016-03-25 14:28] dev-shady opened #102 "Values of all the items in Options.html set to undefined"
If the extension is fresh installed,and 'Turn On' button is choosen instead of choosing Options (for the very first time) ; the values of all Options is set to undefined and even unable to choose any target language.
![turnonprob1](https://cloud.githubusercontent.com/assets/16106955/14045904/c75335d0-f2c3-11e5-8ed7-edbac67170d2.png)
![turnonprob2](https://cloud.githubusercontent.com/assets/1610695

[2016-03-29 13:16] jfmasciocco opened #104 "Not seeing any translations on page"
I've tried reinstalling Chrome, Yandex vs. Google Translate, rebooting chrome, none of the websites I visit have Spa
[MTW Screen Shot.docx](https://github.com/OiWorld/MindTheWord/files/193506/MTW.Screen.Shot.docx)
nish words

[2016-04-01 15:17] srikar0896 opened #105 "Personal dictionary feature(Enhancement)"
Hello @Ceilican,
         As i mentioned in the proposal iam working on adding cross browser compatible and adding to dictionary in firefox feature to mindtheword extension in firefox .please visit the [link](https://github.com/srikar0896/Add-To-Dictionary/blob/master/README.md).and comment for any changes that would be useful to me.Thank you.

[2016-04-01 17:19] ankit-m commented on #105
@srikar0896 isn't this already implemented in #89 ? Looks similar.

[2016-04-01 18:02] srikar0896 commented on #105
Oh thanks! @ankit-m can you specify where the code is for adding to dictionary.

[2016-04-01 20:05] #105 closed

[2016-04-15 22:58] sjoanes opened #106 "Validation on Yandex Key"
**Problem:**
When you double click the text in the Yandex page you get "<key> Block Key". I and possibly many other people are pasting that into the input box without removing the "Block Key" part. Fails in the background page.

**Solution:**
Show warning if the string contains "Block Key" on saveYandexKey

Good tool, hate to see it not work because of something so silly.

[2016-05-01 01:33] Ceilican commented on #104
Hi! I have just uploaded a new version of the extension. A long-standing bug that caused the extension not to work for a few users has finally been fixed. Please try it again now. If you continue experiencing any difficulties, please let me know.

[2016-05-01 01:33] #104 closed

[2016-05-01 01:43] Ceilican commented on #106
You are right! Thanks for the idea!

[2016-05-01 09:20] ankit-m opened #109 "Blank tab heading"
The extension is not working and the options page headings are blank. I reset my master with upstream, but the problem persists.

![err_blank](https://cloud.githubusercontent.com/assets/9019878/14940999/af76bf32-0faa-11e6-8999-4cd74e0aab07.png)

The issue was resolved only when I removed the extension and reinstalled it from my local repository. I haven't looked into the issue properly but I belie

[2016-05-01 10:02] Ceilican commented on #109
I wasn't able to reproduce this error here. I'm using Chrome Version 50.0.2661.94 (64-bit) for Mac.

[2016-05-01 10:03] Ceilican commented on #109
Today I uploaded a new version to the Chrome Web Store, but it hasn't appeared yet.

[2016-05-01 20:37] jfmasciocco commented on #104
Thanks Bruno - still not working for me for some reason. Did you update the
extension in the chrome store? It looks like the latest version came last
December. Check out my settings below to make sure:

[image: Inline image 1]

[image: Inline image 2]

On Sat, Apr 30, 2016 at 9:33 PM, Bruno <notifications@github.com> wrote:

[2016-05-02 09:30] Ceilican commented on #104
I did upload the new version, but (quite unusually) it took more than 24 hours for the new version to be published by Google in the Chrome Web Store. If you have a look again, you will see version 2.0.2 available there now.

The images of your last message are not being displayed.

[2016-05-02 17:43] jfmasciocco commented on #104
Bruno!!! Thank you my friend, it's working. Really appreciate it!

Joe

On Mon, May 2, 2016 at 5:30 AM, Bruno <notifications@github.com> wrote:

[2016-05-03 07:34] Ceilican opened #111 "Input field for Yandex key should be wide enough for the whole key to be visible"
This should be kept in mind when the options page is redesigned.

[2016-05-03 07:35] Ceilican commented on #106
Related issue: #111

[2016-05-03 07:35] Ceilican commented on #106
This issue has been solved in the merged pull requests.

[2016-05-03 07:35] #106 closed

[2016-05-03 07:58] #111 closed

[2016-05-03 08:02] ceilican opened #113 "Localize Messages"
As suggested by @omesh : https://github.com/OiWorld/MindTheWord/pull/108/files/581183847e4989ede7c1b57d2a7ac1b0eb0c7f50#r61735295

This is harder than it might seem. A way to do that can be seen here: https://github.com/OiWorld/CarbonFootprintGoogleMaps

[2016-05-03 08:13] ankit-m commented on #113
I don't follow. Which messages are we trying to localize?
@omesh can you please explain?

[2016-05-03 08:25] Ceilican commented on #113
Well, now that message doesn't appear anymore. But the idea would be to localize all sentences seen by the user (e.g. in the options page, in the context menus, and so on).

[2016-05-03 08:28] rohankatyal29 commented on #113
All the messages/text in the extension should‪ be localised.

For eg: if a user opens the application from France all the labels in
options page should be in French

On Tuesday 3 May 2016, Ankit Muchhala <notifications@github.com> wrote:

--
Regards,
Rohan Katyal

Please ignore the typos and brevity, email sent using a small form factor
device

[2016-05-03 08:38] ankit-m commented on #113
Thanks @Ceilican @rohankatyal29

[2016-05-06 07:13] Ceilican commented on #97
Here is another screenshot showing this behaviour:

![screen shot 2016-05-06 at 17 11 18](https://cloud.githubusercontent.com/assets/1809436/15066587/b1dc4826-13ad-11e6-8838-f03fbbf984f3.png)
![screen shot 2016-05-06 at 17 11 31](https://cloud.githubusercontent.com/assets/1809436/15066588/b51c1f98-13ad-11e6-9fc0-a3598e0199c8.png)

These screenshots were provided by Nicholas Kiefer. We should notif

[2016-05-08 05:43] sjoanes commented on #100
Rikaikun works well as a temporary solution.

[2016-05-26 17:44] #109 closed

[2016-07-19 18:38] Ceilican commented on #97
Was this issue already solved?

[2016-07-19 18:42] Ceilican commented on #95
A user also reported that MTW is not working on some newspaper websites such as CNN and USA Today. I think it might be because of this bug.

[2016-07-19 18:43] #81 closed

[2016-07-19 18:44] Ceilican commented on #62
@ankit-m @rohankatyal29, Was this issue solved?

[2016-07-19 18:46] #57 closed

[2016-07-19 18:46] Ceilican commented on #55
Implemented!

[2016-07-19 18:46] #55 closed

[2016-07-19 18:50] Ceilican commented on #54
@ankit-m Which format are you using for importing and exporting backups of the options? Are user-defined translations exported as well?

[2016-07-19 19:07] Ceilican commented on #46
If something doesn't work in MTW because a user cannot access Google Translate, Yandex Translate, Bing Translate or any other external website on which MTW depends (e.g. because these services are blocked in her country or because they are temporarily unavailable), the user should be informed about this. Othwerwise the user might think that the problem is in MTW and give MTW a low rating.

[2016-07-19 19:08] #39 closed

[2016-07-19 19:08] #37 closed

[2016-07-19 19:09] #35 closed

[2016-07-19 19:10] #32 closed

[2016-07-19 19:10] #26 closed

[2016-07-19 19:11] #25 closed

[2016-07-19 19:11] #17 closed

[2016-07-19 19:13] Ceilican commented on #17
@masukomi Could you have a look on the newest version of Mind The Word and tell us if you like the blacklisting feature? We would greatly appreciate your feedback!

[2016-07-19 19:13] #14 closed

[2016-07-19 19:14] #2 closed

[2016-07-19 19:18] Ceilican commented on #1
@rohankatyal29 was this issue fixed in your PR referenced above?

[2016-07-20 09:51] ankit-m commented on #46
@Ceilican right now, all the errors are logged as an error in the console with the appropriate messages. Do you want it to alert the user? Alerts are usually not preferred and sometimes blocked by browsers.

[2016-07-20 09:51] ankit-m commented on #12
@Ceilican I think this issue is resolved. We should close this as well.

[2016-07-20 09:53] Ceilican commented on #12
Indeed. I missed it.

[2016-07-20 09:53] #12 closed

[2016-07-20 10:03] Ceilican commented on #46
There are three types of users in relation to how they behave when MTW does not work for them:

1) Those who will contact us to ask why it is not working.

2) Those who will simply stop using MTW.

3) Those who will immediately give MTW a 1-star rating in the web store and write bad reviews.

Logging the error is sufficient to deal with users of type 1. With those users, we can tell them to send u

[2016-07-20 10:37] ankit-m commented on #46
@Ceilican, I like the idea of putting important messages in a tab. I will work on it and try to come up with something.

[2016-07-21 05:23] rohankatyal29 commented on #54
@Ceilican - txt is used for importing and exporting backups and the user defined translations are exported as well

[2016-07-21 05:27] rohankatyal29 commented on #97
@Ceilican - I think so, haven't seen it in the new version even once. In the old one it used to pop up very regularly

[2016-07-21 10:44] Ceilican commented on #97
Ok, then I will close it.

[2016-07-21 10:44] #97 closed

[2016-07-21 10:56] Ceilican commented on #54
@rohankatyal29 as far as I know, the Anki format is a txt file with a particular simple syntax that is used by the anki software. I don't know how many users actually use Anki. So far, in all these years, only one user requested this feature. If this is so, it probably doesn't make sense to invest time in this particular feature in a narrow sense. In any case, the broader idea that we should consi

[2016-07-21 12:01] rohankatyal29 commented on #95
@Ceilican, @ankit-m  - I am working on this

[2016-07-22 16:22] alexklibisz commented on #95
This may already be solved, but here's a solution that's popped in my head since opening this issue way back in March:

On the first translation pass (when the page is loaded), apply a class `mtw-translated` to any element with text that was translated. Then use `setInterval()` to look for new text elements without the `mtw-translated` class every x milliseconds. Every time you translate an elemen

[2016-07-23 07:30] Ceilican opened #163 "URI Too Long for Yandex"
I experienced the following error:

<img width="1276" alt="screen shot 2016-07-23 at 17 28 06" src="https://cloud.githubusercontent.com/assets/1809436/17076632/fb263d0e-50fa-11e6-8fad-8aef59a6bd4c.png">

MTW used to have a function that broke down long URL requests to Google Translate into smaller requests. We should do something similar for Yandex too.

[2016-07-23 07:45] Ceilican opened #164 "Quiz's word order is not being shuffled"
<img width="906" alt="screen shot 2016-07-23 at 17 43 20" src="https://cloud.githubusercontent.com/assets/1809436/17076728/24f7d8d4-50fd-11e6-8463-399e7db4653c.png">

[2016-07-23 07:47] Ceilican opened #165 "Translation percentage is missing in the description of patterns in stats tab"
<img width="888" alt="screen shot 2016-07-23 at 17 41 10" src="https://cloud.githubusercontent.com/assets/1809436/17076736/57f1fdbe-50fd-11e6-93e6-7733c4bedc5d.png">

Here it looks like I have two identical translation patterns. But, in fact, one of them has 15% and the other 85% translation. This information should be shown here, so that the user can distinguish the patterns.

[2016-07-23 07:52] Ceilican opened #166 "Comma separation of stats should be avoided"
<img width="920" alt="screen shot 2016-07-23 at 17 41 58" src="https://cloud.githubusercontent.com/assets/1809436/17076752/af112912-50fd-11e6-82d6-643891c5972d.png">

Comma separation should be avoided, because commas are often used to separate digits in groups of three (e.g. 1,300,000 = 1 million and 300 thousand). This can cause confusion.

I suggest writing: "331 words and 2433 characters have

[2016-07-23 09:31] ankit-m commented on #163
Oh! This is the first time I have seen this error. We still have that function in Google Translate. I think we will need to implement the same thing here.

[2016-07-24 00:57] Ceilican commented on #95
Thanks you for the suggestion, @alexklibisz !

[2016-07-24 00:58] #95 closed

[2016-07-24 01:07] #164 closed

[2016-07-24 01:08] #165 closed

[2016-07-24 01:08] #166 closed

[2016-07-24 08:15] Ceilican commented on #163
@ankit-m , are you working on this issue now? @rohankatyal29 told me that you are.  Do you know how long it will take to solve it? @rohankatyal29 and I think this issue is affecting Monica, who will present MTW to many potential new users soon.

[2016-07-24 09:56] ankit-m commented on #163
@Ceilican I am working on it. I will raise a PR by tonight.

[2016-07-24 10:24] Ceilican opened #171 ""Generate new quiz" button takes user to basic options tab"
Expected behavior: the user should remain in the quiz tab after pressing the button.

[2016-07-24 10:25] Ceilican commented on #171
@rohankatyal29 , could you look at this?

[2016-07-24 10:32] Ceilican opened #172 "Dropdown width is varying"
The dropdown selectors should have fixed width. Right not, their width varies depending on which translator is chosen:

<img width="916" alt="screen shot 2016-07-24 at 20 29 06" src="https://cloud.githubusercontent.com/assets/1809436/17083267/782326cc-51dd-11e6-827f-0a0517194dd9.png">
<img width="902" alt="screen shot 2016-07-24 at 20 29 22" src="https://cloud.githubusercontent.com/assets/1809436/

[2016-07-24 10:36] Ceilican opened #173 "When a new pattern is created, the new pattern should be automatically selected"
It is not intuitive for the user that he has to select the pattern he has just created, especially when it is the first pattern.

[2016-07-24 10:37] Ceilican commented on #173
@ankit-m , could you look at this as soon as possible?

[2016-07-24 10:40] #163 closed

[2016-07-24 10:47] ankit-m commented on #172
@Ceilican that is because the languages change with different translators. Do you want me to fix the widths to the maximum?

[2016-07-24 10:48] Ceilican commented on #172
I think fixing the width to the maximum would be a good idea.

[2016-07-24 10:48] Ceilican commented on #172
But this other issue (https://github.com/OiWorld/MindTheWord/issues/173) is more urgent.

[2016-07-24 10:50] Ceilican commented on #173
I would like to release a new version for Monica still tonight. Do you think you can solve this issue now?

[2016-07-24 10:51] ankit-m commented on #173
Absolutely! Will get this done ASAP.

[2016-07-24 23:04] Ceilican opened #177 "Blocking of Duplicate Patterns should not be silent"
When the user tries to create a pattern that already exists, nothing seems to be happen. Instead, a fading message should be shown, telling the user that the pattern already exists.

[2016-07-24 23:04] Ceilican commented on #177
@ankit-m could you look at this?

[2016-07-24 23:10] Ceilican opened #178 "Social Media icons in options page should not be underlined when mouse hovers"

[2016-07-25 05:19] rohankatyal29 commented on #171
@Ceilican - I have raised a PR with the fix

[2016-07-25 07:50] #171 closed

[2016-07-25 14:50] ankit-m opened #181 "Wrong visual hints"
I searched visual hints for the word **aus** (*out* in German). The visual hint led me to image search with the word *aus*. It showed pictures of Australia (aus -> australia).

This might happen to a lot of words which are in different language. Maybe we should append the language name after the word searched for. Ex. If *aus* is searched. We should search *aus German*. Although there is a very hi

[2016-07-25 23:51] #172 closed

[2016-07-25 23:51] #177 closed

[2016-07-26 00:17] Ceilican commented on #181
Yes...  That's an instance of a more general problem: the fact that Mind The Word always asks for translations (or visual hints) of words out of context.

I tried "aus German", as you suggested, and I got more images related to germany than to "aus".

I also tried "aus" in google.de, to check whether the german google would be smarter and know that "aus" is more probably related to "out" than to A

[2016-07-26 07:21] ankit-m commented on #173
@Ceilican this issue is resolved.

[2016-07-26 07:21] ankit-m commented on #178
@Ceilican issue resolved.

[2016-07-26 08:06] #173 closed

[2016-07-26 08:09] #178 closed

[2016-07-26 08:12] Ceilican commented on #178
I thought merging the PR would close issue automatically. But I think it didn't because the PR's description was not written in automatically understandable form. Next time, try to write "Closes #172 . Closes #177 . Closes #178 ." instead of "closes #172 #177 #178".

[2016-07-29 18:07] ankit-m opened #184 "Breaking user defined translations"
The user defined translations are no longer working

![oneerror](https://cloud.githubusercontent.com/assets/9019878/17258574/34b0ad04-55e5-11e6-98d0-3d87a07b4e9a.png)

The following lines are generating the error. @rohankatyal29 you just need to handle these cases.
[code]

[2016-07-31 23:53] Ceilican opened #187 "Make "one word per sentence" option local (per pattern)"
I think the limitation to translate one word per sentence should be a local option on a per pattern basis. For instance, instead of choosing "translate 60% of all words from English to Portuguese" when creating a pattern, the user could have the option to choose "translate one word per sentence from English to Portuguese".

What do you think?

As it is now, it is unclear to the user that the globa

[2016-08-01 04:59] rohankatyal29 commented on #184
I don't understand how are these lines can cause the user defined translations to break?

[2016-08-01 05:05] rohankatyal29 commented on #184
If you remove the previous version of the extension and then add the new one, this error should disappear. If you only refresh the rebased code, the local storage won't be refreshed.

[2016-08-01 05:58] rohankatyal29 opened #188 "Blacklisted words are getting translated"

[2016-08-02 13:42] ankit-m commented on #188
@rohankatyal29 can you please point me to the website and your configuration?

[2016-08-16 10:26] ankit-m commented on #188
@rohankatyal29 I cannot reproduce the issue on the link you said with the config. I also tried on the wikipedia page of `You`, still I cannot find the word `vous` - french for you.

[2016-08-16 23:15] #184 closed

[2016-09-11 11:20] Ceilican opened #195 "Esperanto is available in Yandex's website, but not in MTW when Yandex is selected"

[2016-09-11 12:03] #195 closed

[2016-09-20 16:52] ceilican opened #196 "When Options page is opened, some words are spoken"
I suspect this is a bug in the "Speak The Word" feature.

Although the pronunciation is not very clear, it seems that the following three words are spoken: "the", "vu" and "vu".

It takes about 10 seconds for the pronunciation of these three words to start. It pauses for 3 seconds between the words.

The attached screenshot shows that sound is being produced by the tab containing the options page.

[2016-09-23 00:54] ceilican opened #197 "Dropdown for "Voice Name" does not fit in the "Playback Settings" box"
<img width="516" alt="screen shot 2016-09-22 at 21 51 36" src="https://cloud.githubusercontent.com/assets/1809436/18770679/e92565dc-810e-11e6-81ea-997d1f85e187.png">

[2016-09-23 00:55] Ceilican commented on #197
@rohankatyal29 , could you fix this?

[2016-09-29 21:36] SShrike opened #198 "Use the alternative API for Google Translate"
There is an alternative Google Translate API that is free and is internally used by the Google Translate service in Chromium. More information is in this post (I'm not the author): https://ctrlq.org/code/19909-google-translate-api

Here's an example query, translating English into Norwegian: https://translate.googleapis.com/translate_a/single?client=gtx&sl=en&tl=no&dt=t&q=Hello

[2016-09-30 05:42] ankit-m commented on #198
@SShrike I don't think we should use such a trick. Primarily for two reasons:
1. It is a hack and Google can any time just close the end point.
2. It is not the correct way of using services

[2016-09-30 20:32] Ceilican commented on #198
I essentially agree with the points raised by @ankit-m, but I wouldn't immediately reject the idea.

Regarding point 2: is it explicitly said anywhere that we shouldn't use this free alternative Google Translate API? Would we be violating any terms of service if we used? If yes, then we should not use it. And that is the end of the story. But we should check this. @SShrike, could you investigate t

[2016-09-30 22:38] SShrike commented on #198
Sure thing, I'll take a look soon.

I should have been clearer, that was my intention. Not a replacement, but an addition.

[2016-10-06 09:13] SShrike commented on #198
I can't find anything that suggests it is either against or not against the TOS, however I'd say it most likely is, since it allows someone to bypass Google's paid Translate API solution.

Now, you could add support for it along with a warning once you enable it that it could possibly be against TOS and support for it might break at any time.

[2016-10-10 04:54] Ceilican commented on #198
Do the Chromium developers have an agreement with Google to use this free API in their Google Translate service?

I would agree to have that, but I have no time to implement it the short-term future. Would you like to do it and submit a pull request?

[2016-10-10 05:06] SShrike commented on #198
Hmm, I'll have a look at it, but I've never really looked at how a Chrome plugin works. Any pointers?

[2016-10-10 06:00] Ceilican commented on #198
[This file](https://github.com/OiWorld/MindTheWord/blob/master/CONTRIBUTE.md) contains instructions on how to contribute to Mind The Word.

You don't need to know much about Chrome's plugin API, because this is already done. You would have to add an option for the Free Google API in the translation tab of the [options page](https://github.com/OiWorld/MindTheWord/blob/master/lib/views/includes/tran

[2016-10-19 15:43] SShrike commented on #198
Sorry for not getting around to this sooner, I have exams to prepare for etc., so I forgot about this and it went on the backburner. I *might* be able to squeeze something out this weekend.

[2016-10-19 16:57] boro741 commented on #36
Why don't we just use the google translator and add it?

[2016-10-19 18:21] Ceilican commented on #198
No worries... And thanks in advance for any contribution that you might be able to produce during the weekend.

[2016-10-19 18:24] Ceilican commented on #36
Especially for less used languages or for languages with grammatical structures that are too different from English, Google translations tend to have many mistakes. Therefore, we prefer human translations. However, Google translations can be a good first approximation. If you would like to go ahead and include Google translation, please go ahead. Make sure to indicate that they are google translat

[2017-01-07 05:14] ceilican opened #199 "It appears as MindTheWord is not working on some Australian news sites"
The following sites were reported by a user:

* news.com.au
* theherald.com.au
* nhs.trade

I have verified that it is not working on "news.com.au".

[2017-01-07 05:26] ceilican commented on #199
I have just checked and it is actually working in the other two sites. So, only news.com.au is not working.

[2017-01-08 22:45] rahulchawla1995 commented on #199
@ceilican does this issue require a contributor,i am a newcomer and would very much like to help if possible

[2017-01-08 23:21] ceilican commented on #199
Hi @rahulchawla1995 ! Yes, it would be great if you could have a look on this issue and try to understand why MindTheWord is not working on news.com.au.

[2017-01-08 23:22] ceilican commented on #199
Maybe this issue is due to dynamically loading of content.

[2017-01-09 07:27] rahulchawla1995 commented on #199
@ceilican -i ll have a look into it

[2017-01-13 13:06] boro741 opened #201 "No Hindi translation listed with yandex api"

[2017-01-13 13:14] boro741 commented on #198
@ceilican if @SShrike  is not working on this issue can I take up this work.
And I think you have provided enough information on how do I contribute so I'll be starting to work as soon as you respond.

[2017-01-13 21:42] ceilican commented on #198
@boro741 , wait one or two days for @SShrike to reply whether he is working on his issue. If he doesn't reply, we can assume that he isn't working on it. And if he isn't working on it, it would be great if you could do it.

[2017-01-14 08:45] boro741 commented on #53
Cordova would be a good solution for the mobile app.
As this project is built on JS it would be easy to build with Cordova.

[2017-01-14 09:28] boro741 commented on #197
fixed the issue https://github.com/OiWorld/MindTheWord/pull/200

[2017-01-16 00:41] ceilican commented on #197
Thanks!

[2017-01-16 00:41] #197 closed

[2017-01-16 00:51] ceilican commented on #53
That sounds interesting. I didn't know Cordova before. It seems that Cordova will behave essentially like a simple browser that will display an app programmed in HTTP/CSS/JavaScript. How easy would it be to make it behave like a browser that also loads pages from the internet and injects our JS scripts in them? Probably easy, right?

[2017-01-17 14:25] boro741 opened #202 "Add keyboard shortcuts for the MTW functionality"
![screen shot 2017-01-17 at 7 53 37 pm](https://cloud.githubusercontent.com/assets/16509376/22024099/d58e5f06-dcee-11e6-939e-8101b0931ea3.png)

[2017-01-20 17:09] boro741 commented on #196
@ceilican  u mean the words "the", "vu" and "vu" that are spoken when the page is loaded to be removed.

[2017-01-20 20:17] ceilican commented on #196
Exactly. Do you know why this is happening?

[2017-01-21 01:43] ceilican commented on #202
Could you give more details of the feature that you are suggesting?

I didn't understand the purpose of the image that you uploaded.

[2017-01-21 19:24] sanket0211 commented on #202
Do you mean to say that we need keyboard shortcuts for the options which are being shown in the image, For eg. If I press CTRL+W it should apply the option Speak the Word(Just an example)? Am I correct?

[2017-01-23 15:09] sanket0211 commented on #196
The sound is coming due to the file **/MindTheWord/dist/views/includes/advanced.html** .
On the line no. 164 in the above file, we have HTML code : **<iframe width="100%" height="80%" src="https://www.youtube.com/embed/b1oLm_Y4p-M?autoplay=1"></iframe>** . Due to this line of code, the youtube video is **playing automatically** in the background. This youtube video contains the sounds which are be

[2017-01-24 11:32] process9 commented on #198
I agree with Ankit-m, as using these tricks can be problematic for the websites. For those looking for language translation API for their online store should look for some permanent and effective solutions. There are companies like Process 9 that have developed dedicated software for the businesses only. If you target Indian audience and want easy language translation for your website, you can ins

[2017-01-24 14:46] boro741 commented on #202
@ceilican  sry for the late response.
@sanket0211  your right.

[2017-01-24 14:57] boro741 commented on #202
Also on double tap showing the translation, I find it useful.
I use [google dictionary](https://chrome.google.com/webstore/detail/google-dictionary-by-goog/mgijmajocgfcbeboacabfgobmjgjcoja?hl=en) for finding the meaning of the word every time I read an article on the web so that I don't need to switch to other tabs and concentrate on the content.
![screen shot 2017-01-24 at 8 17 30 pm](https://clo

[2017-01-25 00:49] ceilican commented on #202
That is an interesting feature. But how often would it be used? I suspect that many users prefer to use the mouse, even though we (programmers) tend to like keyboard shortcuts.

Anyway, if you find an easy way to implement keyboard shortcuts in a way that benefits users who like keyboard shortcuts without degrading the experience of users who do not use shortcuts, then please go ahead and implemen

[2017-01-25 00:51] ceilican commented on #202
How is this related to the topic of this issue (keyboard shortcuts). If you meant to suggest another feature, please create a new issue for it.

[2017-01-25 01:00] #196 closed

[2017-01-25 01:42] boro741 commented on #202
yeah @ceilican it's not related with a keyboard shortcut.
I'll create a new issue on this.

[2017-01-25 17:58] boro741 opened #207 "Update changes from dist folder to lib folder"
#197 and #196  issues are solved by adding changes to the dist folder.
So after ```gulp build``` command it generates the dist folder again from scratch resulting in the same issue.

As ```gulp build``` generates dist folder from lib folder,
 lib folder needs to be synced with dist folder.

[2017-01-25 18:09] boro741 commented on #207
Solved this issue in PR #208 .

[2017-01-29 06:40] #201 closed

[2017-03-01 12:44] anmolsinghal commented on #53
Hi!
I am Anmol SInghal.
I was looking through the list of ideas offered by you for Google Summer of Code and wanted to know if there is any plan to work on a mobile app?
thanks in advance
Regards

[2017-03-01 21:05] paraschadha2052 commented on #53
Hi, I am Paras Chadha.
I am interested in this project. We can create an android app in which user can paste the text or paste the URL of the website and app will extract text from it and will translate some random words. I have experience in developing android apps (see my github profile). I have also contributed to open source projects before. We can discuss the idea further or should i start pr

[2017-03-02 06:01] ceilican commented on #53
Hi! Please communicate with through our forum (https://groups.google.com/forum/#!forum/aossie-gsoc-2017) and through our issue trackers in Gitlab: http://www.gitlab.com/aossie/

[2017-03-03 06:09] paraschadha2052 commented on #53
Hi, I am sorry, initially i thought that this is an android project. I know HTML, CSS and Javascript but have a little experience in them, so i may not be the best candidate for this project.

[2017-03-05 10:25] sudeepb02 commented on #34
I would like to work on this issue as a GSoC project. However, I see that the extension has been partly ported to Firefox last year.

As of now, Firefox has implemented a WebExtension API which would be largely compatible with Chrome and Opera extension.
So most of the code would work with some minor changes in the base code.

[2017-03-05 10:38] sudeepb02 opened #210 "Error: (SystemJS) XHR error on Linux"
Running `npm test` on my Linux system gives me the following error :

05 03 2017 15:56:59.789:WARN [web-server]: 404: /base/jspm_packages/npm/lodash@4.14.0.js
PhantomJS 2.1.1 (Linux 0.0.0) ERROR
  Error: (SystemJS) XHR error (404 Not Found) loading http://localhost:9000/jspm_packages/npm/lodash@4.14.0.js
  	Error loading http://localhost:9000/jspm_packages/npm/lodash@4.14.0.js as "lodash" from htt

[2017-03-06 15:35] sudeepb02 commented on #188
@ankit-m  Agreed 👍 . I even tried on some other websites, but I think it is working fine @rohankatyal29

[2017-03-07 02:38] ceilican commented on #34
@sudeepb02 That's great! We are looking forward to receiving your proposal on this topic. As this is probably not enough to keep you busy during the whole GSoC coding period, you should also think about other things that you would like to do and include them in your proposal as well. And remember to submit some merge requests to show us your skills and engagement.

[2017-03-07 02:42] ceilican commented on #210
Are you still experiencing this issue?
Is your Linux system standard? Do you have any firewall that could be preventing access to localhost:9000 ?

[2017-03-07 02:43] ceilican commented on #210
Anyone else using linux can reproduce the issue described above? (I'm using Mac, so I can't.)

[2017-03-07 02:44] ceilican commented on #210
@sudeepb02 We are moving to gitlab. So please use our new repository and issue tracker at http://www.gitlab.com/aossie . Have a look on http://www.aossie.org as well...

[2017-03-07 05:35] boro741 commented on #210
I'm able to reproduce the same error on my linux on virtual box.
![npm erro](https://cloud.githubusercontent.com/assets/16509376/23643157/e5c97862-0325-11e7-80b3-71ee859f48fe.png)

[2017-03-07 05:41] boro741 commented on #210
This error can be resoled by running commands that are on the [CONTRIBUTE.md](https://github.com/OiWorld/MindTheWord/blob/master/CONTRIBUTE.md)
`npm install -g jspm gulp gulp-cli jsdoc karma-cli`
`npm install`
`jspm install`

Here's the error I was able to reproduce:
![npm erro](https://cloud.githubusercontent.com/assets/16509376/23643268/aab24154-0326-11e7-82c6-6e6184206a82.png)

Resolved the iss

[2017-03-07 05:48] ceilican commented on #210
Could you please improve the README.md and the CONTRIBUTE.md, so that future users/develoeprs do not face the same issue? Please submit a pull request to our gitlab repository: www.gitlab.com/aossie/MindTheWord/

[2017-03-07 06:20] boro741 commented on #210
@ceilican  sure.

[2017-03-07 09:15] sudeepb02 commented on #210
@boro741 Are you working on improving the README? Let me know in case you're not so I'll submit a PR

[2017-03-07 09:57] sudeepb02 commented on #210
Another solution would be to initialize the SystemJS using
`jspm dl-loader`

[2017-03-07 14:47] boro741 commented on #210
@sudeepb02 yea I'm working on improving the README.md file.

[2017-03-08 10:48] ceilican commented on #210
@sudeepb02

This would be an alternative to what, exactly?

Anyway, if this would make it easier for people to contribute to the project, it is certainly welcome.

[2017-03-09 17:09] sudeepb02 commented on #210
@ceilican Alternative solution to the above problem

[2017-03-09 23:10] ceilican commented on #210
@sudeepb02  if you would like to describe this alternative solution in the README as well, please go ahead. Just wait for @boro741 's merge request to be merged first. (You can see his MR in our gitlab repository.)

[2017-03-11 18:42] zerocod3r commented on #53
http://www.gitlab.com/aossie/
Link to repositories no working always redirect to homepage of GitLab.

[2017-03-13 11:22] ceilican commented on #53
Sorry. Pease try this one: https://gitlab.com/aossie

[2017-03-15 18:35] prioritylabs opened #211 "translation Russian>Spanish not working for some russian sites"
I tried the following sites:

1. popmech.ru - didnt worked at all
2. kommersant.ru - some weird symbols instead Spanish
3. wikipedia.org - working just fine
4. rbc.ru - worked at first, then stopped. Tried to restart browser several times, ctrl+f5, no effect. I reseted Counter of translated words and it's worked for some other page and then stopepd again, and reseting Counter didnt worked

screens

[2017-03-16 18:09] GurpreetSK95 commented on #53
Hi!
I'm Gurpreet and I got to know about Aossie via GSOC organisations page. I liked the Idea of MindTheWorld and would love to get some help with getting started with the project.
Regards,
Gurpreet.

[2017-03-17 05:27] ceilican commented on #211
Thanks for the bug report. I have transferred this issue to our new GitLab issue tracker: https://gitlab.com/aossie/MindTheWord/issues/205

I hope we will manage to fix it soon. If you would like to try to fix this issue yourself, please let us know there in GitLab.

[2017-03-17 05:32] ceilican commented on #53
@GurpreetSK95 Thanks for your interest! Please follow the instructions here (http://www.aossie.org), and use our GitLab repository (linked above) instead of this GitHub repository.

[2017-03-30 19:42] rdeveloperIITR commented on #53
Hi, I am Rohit.
I am interested to create a android client for the browser extension in which user can provide a url or provide a image then by using photo OCR and microsoft cognitive services ,we can extract text from it and translate some random words. I have experience in developing android apps (see my github profile) and with microsoft cognitive service. I have also contributed to open source

[2017-04-06 06:26] Varriount opened #213 "Move Bing Translation to Azure Translation"
As of [this](https://cognitive.uservoice.com/knowledgebase/articles/1128340-announcements-action-required-before-april-30-20) post, the current Bing translation service is going to be moved to Azure by April 30th. Only the new Azure Cognitive API will be supported.

[2017-04-06 12:49] boro741 commented on #213
@Varriount MTW has moved to [gitlab](https://gitlab.com/aossie/MindTheWord/issues) <br>
There is already an issue created by me about updating Bing translator. <br> Comment about the post on [issue #212 ](https://gitlab.com/aossie/MindTheWord/issues/212)
 at gitlab.

[2017-09-29 06:45] #113 closed

[2017-09-29 06:45] #188 closed

[2017-09-29 06:45] #199 closed

[2017-09-29 06:45] #24 closed

[2017-09-29 06:45] #210 closed

[2018-03-22 08:17] max-Hawkins opened #214 "Pressing Enter on User Defined Translations Saves the Current Input"
How can we implement an easier system for entering user defined translations? If I have entered something in both the "original" and "translation" fields and I hit enter, I want the program to save the current translation pair and set the active component to be the "original" field input.

I've been learning a bit of web development, but I'm still unsure of how to manage that. I know I need to add

[2018-10-07 22:37] #214 closed

[2020-11-08 18:19] SARVESHKHANDELWAL commented on #36
Can translate  this into **Urdu?**